Write a function called register_check that checks how many students are in school. The function takes a dictionary as a
parameter. If the student is in school, the dictionary says ‘yes’. If the student is not in school, the dictionary says ‘no’. Your
function should return the number of students in school. Use the dictionary below. Your function should return 3.

In [3]:
register = {'Michael':'yes','John': 'no', 'Peter':'yes', 'Mary': 'yes'}

In [16]:
def register_check(dict):
    result = 0
    for k in dict.keys():
        if dict[k] == 'yes':
            result += 1
    return result

In [17]:
register_check(register)

3

names = ["kerry", "dickson", "John", "Mary","carol", "Rose", "adam"]
You are given a list of names above. This list is made up of names of lowercase and uppercase letters. Your task is to write a code
that will return a tuple of all the names in the list that have only lowercase letters. Your tuple should have names sorted
alphabetically in descending order. Using the list above, your code should return:
('kerry', 'dickson', 'carol', 'adam')

In [62]:
names = ["kerry", "dickson", "John", "Mary","carol", "Rose", "adam"]

In [104]:
def names_lowercase(list_names):
    list_lowercase = []
    for x in range(0, len(list_names)):
        if list_names[x].istitle() == False:
            list_lowercase.append(list_names[x])
            list_lowercase.sort(reverse=True)
    return tuple(list_lowercase)

In [106]:
type(names_lowercase(names))

tuple

In [107]:
names_lowercase(names)

('kerry', 'dickson', 'carol', 'adam')

Write a function called only_floats, which takes two parameters a and b, and returns 2 if both arguments are floats, returns 1 if only one argument is a float, and returns 0 if neither argument is a float. If you pass (12.1, 23) as an argument, your function should return a 1.

In [109]:
def only_floats(a,b):
    if type(a) is float and type(b) is float:
        return 2
    elif type(a) is float and type(b) is not float or type(b) is float and type(a) is not float:
        return 1
    else:
        return 0

In [110]:
only_floats(12.1, 23)

1

In [111]:
only_floats(10.2, 25.4)

2

In [112]:
only_floats(11, 65)

0

Write a function called word_index that takes one argument, a list of strings and returns the index of the longest word in the
list. If there is no longest word (if all the strings are of the same length), the function should return zero (0). For example, the list
below should return 2. 
words1 = ["Hate", "remorse", "vengeance"]
And this list belowword_index, shoul return zero (0)
words2 = ["Love", "Hate"]

In [261]:
def  word_index(list_words):
    for word in list_words:
        for i in range (0, len(list_words)-1):
                if len(list_words[i])== len(list_words[i+1]):
                    return 0
                elif len(word)== len(max(list_words)):
                    return list_words.index(word)

In [269]:
words1 = ["Hate", "remorse", "vengeance"]

In [263]:
word_index(words1)

2

In [264]:
words2 = ["Love", "Hate"]

In [265]:
word_index(words2)

0

In [266]:
len(max(words1))

9

In [271]:
words1.sort(key=len, reverse=True)
words1

['vengeance', 'remorse', 'Hate']