Day 10: Hide my Password
Write a function called hide_password that takes no parameters. The function takes an input (a password) from a
user and returns a hidden password. For example, if the user enters ‘hello’ as a password the function should return ‘****’ as
a password and tell the user that the password is 4 characters long.

In [23]:
def hide_password():
    password = input('Enter your password:')
    list_password  = list(password)
    for i in range (0, len(list_password)):
        list_password[i] ='*'
        new_password = ''.join(list_password)
        no_characters =len(new_password)
    return f'Your password is {new_password} and it has {no_characters} characters long'

In [24]:
 hide_password()

Enter your password: Mihaelapopa

'Your password is *********** and it has 11 characters long'

In [9]:
a = 'password'
b = len(a) * '*'
b

'********'

In [11]:
d = (a[0], len(a[1:-2]) * '*', a[-1])
c = ''.join(d)
c

'p*****d'

Extra Challenge: A Thousand Separator
Your new company has a list of figures saved in a list. The issue is that these numbers have no separator. The numbers are
saved in the following format:
[1000000, 2356989, 2354672, 9878098].
You have been asked to write a code that will convert each of the numbers in the list into a string. Your code should then add a
comma on each number as a thousand separator for readability. When you run your code on the above list, your output should be:
[ '1,000,000', '2,356,989', '2,354,672', '9,878,098’]
Write a function called convert_numbers that will take one argument, a list of numbers above

In [139]:
def convert_numbers1(numbers_list):
    new_number_list =[]
    for number in numbers_list:
        new_number_list.append('{:,}'.format(number))
    return new_number_list

In [4]:
a = [1000000, 2356989, 2354672, 9878098]

In [140]:
convert_numbers1(a)

['1,000,000', '2,356,989', '2,354,672', '9,878,098']

In [114]:
a = [1000000, 2356989, 2354672, 9878098]
type(a[1])

int

In [49]:
def convert_numbers2(numbers_list):
    str_number_list = []
    convert_numbers_list = []
    for i in range (0, len(numbers_list)):
        if i < len(numbers_list):
            str_number_list.append(list(str(numbers_list[i])))
            for j in range (-len(str_number_list[i]),0):
                if j %3 == 0:
                    str_number_list[i].insert(j,',')
            convert_numbers_list.append(''.join(str_number_list[i]))
    return convert_numbers_list

In [50]:
convert_numbers2(a)

['1,000,000', '2,356,989', '2,354,672', '9,878,098']

In [225]:
b =[]
for i in range (0, len(a)):
    if i < len(a):
        b.append(str(a[i]))
        i += 1
print(b)

['1000000', '2356989', '2354672', '9878098']

In [123]:
c =[]
for i in range (0, len(a)):
    if i < len(a):
       c.append(list(str(a[i])))
print(c)

[['1', '0', '0', '0', '0', '0', '0'], ['2', '3', '5', '6', '9', '8', '9'], ['2', '3', '5', '4', '6', '7', '2'], ['9', '8', '7', '8', '0', '9', '8']]

In [61]:
z =list(str(10000000))
z

['1', '0', '0', '0', '0', '0', '0', '0']

In [113]:
x = 1000000
y = '{:,}'.format(1000000)
y

'1,000,000'

In [109]:
type(y)

str

In [133]:
w =['2', '3', '5', '6', '9', '8', '9']
w.insert(-3,',')
w

['2', '3', '5', '6', ',', '9', '8', '9']

In [135]:
w =['2', '3', '5', '6', '9', '8', '9']
w[-3:0:-3]

['9', '3']

In [28]:
w =['2', '3', '5', '6', '9', '8', '9']
for i in range (-len(w),0):
    if i %3 ==0:
       w.insert(i,',')
print(''.join(w))

2,356,989

In [200]:
''.join(['2', ',', '3', '5', '6', ',', '9', '8', '9'])

'2,356,989'

Day 11: Are They Equal?
Write a function called equal_strings. The function takes two strings as arguments and compares them. If the strings are equal (if they have the same characters and have equal length), it should return True, if they are not, it should return False. For example, ‘love’ and ‘evol’ should return True

In [12]:
def equal_strings(string1, string2):
    string1_list = sorted(list(string1))
    string2_list = sorted(list(string2))
    if len(string1) == len(string2) and string1_list == string2_list:
        return True
    else:
        return False

In [18]:
equal_strings('acoperit', 'ipotetic')

False

In [19]:
equal_strings('acoperit', 'ipotecar')

True

Extra Challenge: Swap Values
Write a function called swap_values. This function takes a list of numbers and swaps the first element with the last element. For example, if you pass [2, 4,67, 7] as a parameter, your function should return [7, 4, 67, 2].

In [16]:
def swap_values(number_list):
    first_number = number_list[0]
    last_number = number_list[-1]
    number_list[0] =  last_number 
    number_list[-1] = first_number
    return number_list

In [21]:
a =[8, 4, 67, 58, 10]

In [22]:
swap_values(a)

[10, 4, 67, 58, 8]