## Day 29: Middle Figure
Write a function called middle_figure that takes two parameters a, and b. The two parameters are strings. The
function joins the two strings and finds the middle element. If the combined string has a middle element, the function should return the element, otherwise, return ‘no middle figure’. Use ‘make love’ as an argument for a and ‘not wars’ as an
argument for b. Your function should return ‘e’ as the middle element. Whitespaces should be removed.

In [56]:
def middle_figure(str1, str2):
    combined_string = ''.join(list(str1.replace(' ', '') + str2.replace(' ', '')))
    print(combined_string)
    if len(combined_string) % 2 != 0:
        return combined_string[int(len(combined_string)//2)]
    else:
        return f'no middle figure'

In [1]:
a = 'make love'

In [2]:
b = 'not wars'

In [57]:
middle_figure(a, b)

makelovenotwars

'e'

In [44]:
x = 'middle element'

In [47]:
y = 'should be removed'

In [58]:
middle_figure(x, y)

middleelementshouldberemoved

'no middle figure'

In [49]:
def middle_figure1(a: str,b: str):
    c = (a + b).replace(' ','')
    print(c)
    b = len(c)
    middle = b//2
    if len(c)% 2 == 1:
        return c[middle]
    else:
        return 'No middle figure'

In [50]:
middle_figure1(a,b)

makelovenotwars

'e'

In [54]:
middle_figure1(x,y)

middleelementshouldberemoved

'No middle figure'

In [55]:
z = 15//2
z

7

## Day 30: Most Repeated Name
Write a function called repeated_name that finds the most repeated name in the following list.
name = ["John", "Peter", "John", "Peter", "Jones", "Peter"]

In [19]:
def repeated_name(name_list):
    count_list = []
    for name in name_list:
        count_list.append(name_list.count(name))
    return name_list[count_list.index(max(count_list))]

In [67]:
name1 = ['John', 'Peter', 'John', 'Peter', 'Jones', 'Peter']

In [136]:
name2 = ['John', 'Mary', 'John', 'Mary', 'John', 'Ana', 'Paul', 'Mary']

In [137]:
repeated_name(name1)

'Peter'

In [138]:
repeated_name(name2)

'John'

In [56]:
from collections import Counter
# The collections module has a counter() class that we can use to find the most common element of a lis

In [133]:
def frequent_name1(a):
    Counter(a).most_common().sort()
    return Counter(a).most_common()[0]

In [139]:
frequent_name1(name1)

('Peter', 3)

In [140]:
frequent_name1(name2)

('John', 3)

Extra Challenge: Sort by Last Name
You work for a local school in your area. The school has a list of names of students saved in a list. The school has asked you to write a program that takes a list of names and sorts them alphabetically. The names should be sorted by last names. Here is a list of names:
[‘Beyonce Knowles, ‘Alicia Keys’, ‘Katie Perry’, ‘Chris Brown’,’ Tom Cruise’]
Your code should not just sort them alphabetically, but it should also switch the names (the last name must be the first). Here is how your code output should look:
['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Perry Katie', 'Knowles Beyonce']
Write a function called sorted_names

In [52]:
def sorted_names(name_list):
    new_name_list = []
    for name in name_list:
        one_name_list = list(name.split())
        one_name_list.reverse()
        new_name_list.append(' '.join(tuple(one_name_list)))
    new_name_list.sort()
    return new_name_list

In [169]:
c = ['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown', 'Tom Cruise']

In [172]:
sorted_names(c)

['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']

In [85]:
b = ['Mihaela Popa','Mariana Coman','Paul Georgescu','Augustina Biloiu','Andreea Calin','Catalina Croitoru']

In [86]:
sorted_names(b)

['Biloiu Augustina',
 'Calin Andreea',
 'Coman Mariana',
 'Croitoru Catalina',
 'Georgescu Paul',
 'Popa Mihaela']

In [142]:
def sorted_names1(list1):
    list2 = []
    for i in list1:
        list2.append(i.split())
        list3 = []
        # creating a key for the sorted function
        x = lambda x: x[-1]
        for j in sorted(list2, key=x):
            # appending sorted names to list3
            list3.append(' '.join([j[-1], j[0]]))
    return list3

In [170]:
sorted_names1(c)

['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Knowles Beyonce', 'Perry Katie']

In [171]:
sorted_names1(b)

['Biloiu Augustina',
 'Calin Andreea',
 'Coman Mariana',
 'Croitoru Catalina',
 'Georgescu Paul',
 'Popa Mihaela']

In [180]:
y = lambda x: x[-1]
f = sorted(['Brown', 'Chris', 'Cruise', 'Alicia', 'Keys'], key = y)
f

['Alicia', 'Cruise', 'Brown', 'Chris', 'Keys']

In [179]:
d = sorted(['Brown', 'Chris',  'Cruise', 'Alicia', 'Keys'])
d

['Alicia', 'Brown', 'Chris', 'Cruise', 'Keys']