Day 15: Same in Reverse
Write a function called same_in_reverse that takes a string and checks if the string reads the same in reverse. If it is the
same, the code should return True if not, it should return False.
For example, ‘dad’ should return True, because it reads the same in reverse.

In [15]:
def same_in_reverse1(word):
    if word == ''.join(reversed(list(word))):
        return True
    else:
        return False

In [16]:
same_in_reverse1('kayak')

True

In [17]:
same_in_reverse1('hello')

False

In [18]:
def same_in_reverse2(a):
    if a == a[::-1]:
        return True
    else:
        return False

In [19]:
same_in_reverse2('hello')

False

In [20]:
same_in_reverse2('kayak')

True

In [ ]:
Extra Challenge: What’s My Age?
Write a function called your_age. This function asks a student to enter their name and then it returns their age. For example,
if a user enters Peter as their name, your function should return, ‘Hi, Peter, you are 27 years old. This function reads data
from the database (dictionary below). If the name is not in the dictionary, your code should tell the user that their name 
is not in the dictionary, and ask them for their age. Your code should then add the name and age to the dictionary of names_age
below. Once added your code should return to the user ‘Hi, (added name), you are (added age) years old’. 
Remember to convert the input from user to lowercase letters
names_age = {"jane": 23, "kerry": 45, "tim": 34, “peter": 27}

In [75]:
names_age = {'jane': 23, 'kerry': 45, 'tim': 34, 'peter': 27}

In [13]:
def your_age():
    names_age = {'jane': 23, 'kerry': 45, 'tim': 34, 'peter': 27}
    name = input('Enter your name:').lower()
    if name not in names_age.keys():
            print('Your name is not in the database')
            age  = input('Enter your age:')
            names_age[name] = age
            return f'Hi, {name}, you are {names_age[name]} years old'
    elif name in names_age.keys():
            return f'Hi, {name}, you are {names_age[name]} years old'

In [14]:
your_age()

Enter your name: mihaela

Your name is not in the database

Enter your age: 43

'Hi, mihaela, you are 43 years old'

In [8]:
your_age()

Enter your name: TIM

'Hi, tim, you are 34 years old'