Day 13: Pay Your Tax
Write a function called your_vat. The function takes no parameter. The function asks the user to input the price of an
item and VAT (vat should be a percentage). The function should return the price of the item plus VAT. If the price is 220 and,
VAT is 15% your code should return a vat inclusive price of 253. Make sure that your code can handle ValueError. Ensure the
code runs until valid numbers are entered. (hint: Your code should include a while loop).

In [176]:
def your_vat():
    while True:
        try:
            price = int(input('Enter the price:'))
            VAT = int(input('Enter VAT:'))
        except ValueError:
            print('VAT and price should be a integer')
        else:    
            return  price +  price*VAT*1/100

In [175]:
your_vat()

Enter the price: e

VAT and price should be a integer

In [1]:
def your_vat():
    while True:
        price = int(input('Enter the price:'))
        VAT = input('Enter VAT:')
        if VAT[-1] != '%': 
            print('VAT should be a percentage')
        elif VAT[-1] == '%':    
            return  price + price*int(VAT[0:-1])*1/100

In [2]:
your_vat()

Enter the price: 24
Enter VAT: 5%

25.2

Extra Challenge: Pyramid of Snakes
Write a function called Python_snakes that takes a number as an argument and creates the following shape, using the
number‚Äôs range: (hint: Use the loops and emoji library. If you pass 7 as argument, your code should print the following:

In [49]:
#pip install emoji

In [53]:
from emoji import emojize

In [54]:
print("\U0001F60D")

üòç

In [146]:
print('\N{winking face}')

üòâ

In [117]:
def Python_snakes(n: int):
# the loop to determine the number of rows of the pyramid
    for i in range(0, n):
        # The loop that determines number of columns
        for j in range(n, i, -1):
            # print space between the snake signs
            print(end=" ")
        for k in range(0, i):
            # printing the snake emoji
            print(emojize(':snake:'), end=" ")
        print("\n")

In [118]:
Python_snakes(5)

    üêç

   üêç üêç

  üêç üêç üêç

 üêç üêç üêç üêç

In [ ]:
Day 14: Flatten the List
Write a function called flat_list that takes one argument, a nested list. The function converts the nested list into a one-
dimension list. For example [[2,4,5,6]] should return [2,4,5,6].

In [ ]:
def flat_list(nested_list):
    flated_list = []
    for i in range (0, len(nested_list)):
        while i  < len(nested_list):
            flated_list.append(nested_list[i])
    return flated_list

In [ ]:
nested_list =[[2,4,5,6], [4,6,8,9]]

In [ ]:
flat_list(nested_list)

In [56]:
def convert_list2(lst1: list):
    list1 = []
    for items in lst1:
        for i in items:
            list1.append(i)
    return list1

In [57]:
convert_list2(nested_list)

[2, 4, 5, 6, 4, 6, 8, 9]

Extra Challenge: Teacher‚Äôs Salary
A school has asked you to write a program that will calculate teachers' salaries. The program should ask the user to enter the
teacher‚Äôs name, the number of periods taught in a month,and the rate per period. The monthly salary is calculated by
multiplying the number of periods by the monthly rate. The current monthly rate per period is $20. If a teacher has
more than 100 periods in a month, everything above 100 is overtime. Overtime is $25 per period. For example, if a teacher
has taught 105 periods, their monthly gross salary should be 2,125. Write a function called your_salary that calculates a
teacher‚Äôs gross salary. The function should return the teacher‚Äôs name, periods taught, and gross salary. Here is
how you should format your output: 
Teacher: John Kelly,
Periods: 105
Gross salary:2,125

In [52]:
def your_salary():
   teacher_name = input('Enter the teacher‚Äôs name:')
   number_of_periods = int(input ('Enter the number of periods taught in a month:'))
   rate_per_period = int(input ('Enter your monthly rate per period:'))
   if int(number_of_periods) <= 100:
        gross_salary = (number_of_periods) * rate_per_period 
   else:
        gross_salary = number_of_periods * rate_per_period + (number_of_periods - 100)*(rate_per_period + 5)
   return f'Teacher: {teacher_name},\n Periods: {number_of_periods},\n Gross salary:{gross_salary}'

In [53]:
your_salary()

Enter the teacher‚Äôs name: John Kelly
Enter the number of periods taught in a month: 110
Enter your monthly rate per period: 20

'Teacher: John Kelly,\n Periods: 110,\n Gross salary:2450'