# Day 49: Create a Database
For this challenge, you are going to create a database using
Pythonâ€™s SQLite. You will import SQLite into your script.
Create a database called movies.db. In that database, you are
going to create a table called movies. In that table, you are
going to save the following movies:

year     title      genre :  2009  Brothers   Drama / 2002  Spider     Man Sci-fi / 2009  WatchMen   Drama / 2010  Inception  Sci-fi / 2009  Avatar     Fantasy

a) Once you create a table, run a SQL query to see all the
movies in your table.

b) Run another SQL query to select only the movie Brothers
from the list.

c) Run another SQL query to select all movies that were
released in 2009 from your table.

d) Run another query to select movies in the fantasy and
drama genre.

e) Run a query to delete all the contents of your table.

In [1]:
import sqlite3
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
# Creating a  database

In [2]:
connection = sqlite3.connect('movies.db')

In [ ]:
# Creating a table in the database

In [3]:
cursor = connection.cursor()

In [4]:
command1 = '''CREATE TABLE IF NOT EXISTS movies(year INTEGER, title TEXT, genre TEXT)'''

In [5]:
cursor.execute(command1)

In [6]:
cursor.execute("INSERT INTO movies VALUES (2009, 'Brothers', 'Drama')")

In [7]:
cursor.execute("INSERT INTO movies VALUES (2002, 'Spider Man', 'Sci-fi')")

In [8]:
cursor.execute("INSERT INTO movies VALUES (2009, 'WatchMen', 'Drama')")

In [9]:
cursor.execute("INSERT INTO movies VALUES (2010, 'Inception', 'Sci-fi')")

In [10]:
cursor.execute("INSERT INTO movies VALUES (2009, 'Avatar', 'Fantasy')")

* Once you create a table, run a SQL query to see all the movies in your table.

In [11]:
cursor.execute('SELECT * FROM movies')

In [12]:
results = cursor.fetchall()

In [13]:
print(results)

[(2009, 'Brothers', 'Drama'), (2002, 'Spider Man', 'Sci-fi'), (2009, 'WatchMen', 'Drama'), (2010, 'Inception', 'Sci-fi'), (2009, 'Avatar', 'Fantasy')]

* Run another SQL query to select only the movie Brothers from the list.

In [14]:
cursor.execute('SELECT * FROM movies WHERE title = "Brothers"')

In [15]:
cursor.fetchall()

[(2009, 'Brothers', 'Drama')]

* Run another SQL query to select all movies that were released in 2009 from your table.

In [16]:
cursor.execute('SELECT * FROM movies WHERE year = 2009')

In [17]:
cursor.fetchall()

[(2009, 'Brothers', 'Drama'),
 (2009, 'WatchMen', 'Drama'),
 (2009, 'Avatar', 'Fantasy')]

* Run another query to select movies in the fantasy and drama genre

In [18]:
cursor.execute("SELECT * FROM movies WHERE genre IN ('Drama', 'Fantasy')")

In [19]:
cursor.fetchall()

[(2009, 'Brothers', 'Drama'),
 (2009, 'WatchMen', 'Drama'),
 (2009, 'Avatar', 'Fantasy')]

In [ ]:
# Creating a dataframe

In [20]:
cursor.execute('SELECT * FROM movies')

In [21]:
df_movies = pd.DataFrame(cursor.fetchall(), columns = ['year', 'title', 'genre'])
df_movies

   year       title    genre
0  2009    Brothers    Drama
1  2002  Spider Man   Sci-fi
2  2009    WatchMen    Drama
3  2010   Inception   Sci-fi
4  2009      Avatar  Fantasy

* Run a query to delete all the contents of your table.

In [22]:
cursor.execute('DELETE FROM movies;')

In [23]:
cursor.fetchall()

[]

In [ ]:
#  saving the movies to the table

In [25]:
cursor.executemany("INSERT INTO movies VALUES (?, ?, ?)", [(2009, 'Brothers', 'Drama'),
               (2002, 'Spider Man', 'Sci-fi'),
               (2009, 'WatchMen', 'Drama'),
               (2010, 'Inception', 'Sci-fi'),
               (2009, 'Avatar', 'Fantasy')])

In [ ]:
# Creating a query to see all the movies in the table

In [26]:
row = cursor.fetchall()
for row in cursor.execute('SELECT * FROM movies'):
    print(row)

(2009, 'Brothers', 'Drama')
(2002, 'Spider Man', 'Sci-fi')
(2009, 'WatchMen', 'Drama')
(2010, 'Inception', 'Sci-fi')
(2009, 'Avatar', 'Fantasy')

In [27]:
connection.close()