Day 24: Average Calories
Create a function called average_calories that calculates the average calories intake of a user. The function should ask the user
to input their calories intake for any number of days and once they hit ‘done’ it should calculate and return the average intake.

In [5]:
def average_calories():
    calories_list =[]
    while True:
        calories = input("Please input your calories intake for any number of days, when you finish input 'done':")
        if calories == 'done':
            break
        elif calories != 'done':
            calories_list.append(int(calories))
    return sum(calories_list)/len(calories_list)

In [6]:
average_calories()

Please input your calories intake for any number of days, when you finish input 'done': 456
Please input your calories intake for any number of days, when you finish input 'done': 789
Please input your calories intake for any number of days, when you finish input 'done': 567
Please input your calories intake for any number of days, when you finish input 'done': 873
Please input your calories intake for any number of days, when you finish input 'done': done

671.25

Extra Challenge: Create a Nested List
Write a function called nested_lists that takes any number of lists and creates a 2-dimensional nested list of lists. For example,
if you pass the following lists as arguments: [1, 2, 3, 5], [1, 2, 3,4], [1, 3, 4, 5].
Your code should return: [[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

In [2]:
def nested_lists(*args):
    my_nested_list =[]
    for arg in args:
         my_nested_list.append(arg)
    return my_nested_list

In [3]:
a = [1, 2, 3, 5]
b = [1, 2, 3,4]
c = [1, 3, 4, 5]

In [4]:
 nested_lists(a, b, c)

[[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

Day 25: All the Same
Create a function called all_the_same that takes one argument, a string, a list, or a tuple and checks if all the
elements are the same. If the elements are the same, the function should return True. If not, it should return False. For example,
[‘Mary’, ‘Mary’, ‘Mary’] should return True.

In [12]:
def all_the_same(arg):
    elements_set = set()
    for elem in arg:
         elements_set.add(elem)
    if len( elements_set) == 1:
        return True
    else:
        return False

In [62]:
a = ['Mary', 'Mary', 'Mary']

In [14]:
all_the_same(a)

True

In [49]:
b = 'cccddd'

In [19]:
all_the_same(b)

False

In [20]:
c = ("apple", "banana", "cherry")

In [21]:
all_the_same(c)

False

In [44]:
def all_the_same1(a):
    a = all(i == a[0] for i in a)
    return a

In [51]:
all_the_same1(a)

True

**Extra Challenge: Reverse a String
str1 = "the love is real"
Write a function called read_backwards that takes a string as an argument and reverses it. For example, the string above
should return: "real is love the"

In [38]:
def read_backwards (string):
    string_list = list(string.split())
    string_list.reverse()
    return ' '.join(string_list)

In [39]:
str1 = "the love is real"

In [40]:
read_backwards (str1)

'real is love the'

In [42]:
str2 = 'the string above should'

In [43]:
read_backwards (str2)

'should above string the'

In [69]:
def read_backwards2(n: str) -> str:
    # Create an empty list
    x = []
    for i in n.split()[::-1]: # Using split to split string on whitespaces
        x.append(i)
        # using the join method to join string
    return ' '.join(x)

In [70]:
read_backwards2(str1)

'real is love the'

In [71]:
read_backwards2(str2)

'should above string the'